---
configure_dock: true
dockitems_persist:
  - name: Safari
    path: "/Applications/Safari.app/"
    pos: 1
  - name: Spotify
    path: "/Applications/Spotify.app/"
    pos: 5
  - name: Visual Studio Code
    path: "/Applications/Visual Studio Code.app/"
    pos: 6
  - name: Slack
    path: "/Applications/Slack.app/"
    pos: 7
dockitems_remove:
  - Launchpad
  - Mail
  - Contacts
  - Calendar
  - Notes
  - Reminders
  - Maps
  - Photos
  - Messages
  - FaceTime
  - Music
  - Podcasts
  - TV
  - News
  - Books
  - "App Store"
  - "System Preferences"

configure_sudoers: false

dotfiles_repo: https://github.com/benbalter/dotfiles
dotfiles_repo_accept_hostkey: true
dotfiles_repo_version: main
dotfiles_repo_local_destination: ~/.files
dotfiles_files:
  - .asdfrc
  - .Brewfile
  - .bundle/config
  - .digrc
  - .gemrc
  - .gitconfig
  - .gitignore
  - .gnupg/gpg-agent.conf
  - .gnupg/gpg.conf
  - .hushlogin
  - .irbrc
  - .mackup.cfg
  - .pryrc
  - .remarkrc
  - .ssh/config
  - .yamllint
  - .zshrc
  - heroku/config.json
  - Library/Spelling/LocalDictionary
  - Library/LaunchAgents/com.balter.ben.tmpreaper.plist
  - Library/LaunchAgents/com.balter.ben.update.plist

homebrew_upgrade_all_packages: true
homebrew_brewfile_dir: ~/.files
mas_upgrade_all_apps: true
mas_installed_apps: []
mas_signin_dialog: false

directories_to_create:
  - ~/.bundle
  - ~/.gnupg
  - ~/.ssh
  - ~/github
  - ~/heroku
  - ~/projects
  - ~/Library/LaunchAgents
  - ~/Library/Spelling

macos_defaults:
  system:
    - name: App Store Auto-update
      domain: com.apple.commerce
      key: AutoUpdate
      type: bool
      value: true
    - name: App Store auto restart
      domain: com.apple.commerce
      key: AutoUpdateRestartRequired
      type: bool
      value: true
    - name: App Store Auto check
      domain: com.apple.SoftwareUpdate
      key: AutomaticCheckEnabled
      type: bool
      value: true
    - name: Set lock screen message
      domain: /Library/Preferences/com.apple.loginwindow.plist
      key: LoginwindowText
      value: "Found this computer? Please contact Ben Balter at ben@balter.com."
      type: string
    - name: Enable firewall
      domain: /Library/Preferences/com.apple.alf
      key: globalstate
      value: 1
      type: integer
  user:
    - name: Hot corner
      domain: com.apple.dock
      key: wvous-br-corner
      type: integer
      value: 5
    - name: Auto hide dock
      domain: com.apple.dock
      key: autohide
      type: bool
      value: true
    - name: Screensaver ask for password
      domain: com.apple.dock
      key: askForPassword
      type: bool
      value: true
    - name: Screensaver delay
      domain: com.apple.dock
      key: askForPasswordDelay
      type: integer
      value: 0
    - name: Screenshot location
      domain: com.apple.screencapture
      key: location
      type: string
      value: ~/Desktop
    - name: Screenshot format
      domain: com.apple.screencapture
      key: type
      type: string
      value: png
    - name: Schedule auto update
      domain: com.apple.SoftwareUpdate
      key: ScheduleFrequency
      type: integer
      value: 1
