"*":
  Zen: {}
  "atom-alignment": {}
  "autocomplete-plus": {}
  autosave:
    enabled: true
  "code-links":
    displayMode: "always"
  core:
    excludeVcsIgnoredPaths: false
  editor:
    backUpBeforeSaving: true
    fontFamily: "Inconsolata"
    fontSize: 20
    invisibles: {}
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "05e28b42-e3fa-77bb-d312-beac2ff9e773"
  "file-icons":
    onChanges: true
  "find-and-replace": {}
  "fuzzy-finder": {}
  "git-diff": {}
  "line-ending-converter":
    showEolInStatusBar: false
  linter:
    showErrorPanel: false
    showErrorTabFile: false
    showErrorTabProject: false
    statusIconScope: "File"
  "linter-rubocop":
    command: "/usr/local/opt/rbenv/versions/2.3.0/bin/rubocop"
  "linter-ruby": {}
  "linter-write-good": {}
  "markdown-preview":
    useGitHubStyle: true
  "markdown-table-formatter": {}
  "spell-check": {}
  "status-bar": {}
  tabs:
    alwaysShowTabBar: false
    enableVcsColoring: true
  "theme-switcher": {}
  "tidy-markdown":
    ensureFirstHeaderIsH1: false
    runOnSave: false
  "travis-ci-status": {}
  "tree-view":
    hideVcsIgnoredFiles: false
  welcome:
    showOnStartup: false
  whitespace:
    keepMarkdownLineBreakWhitespace: false
  wordcount: {}
