"*":
  Zen: {}
  "atom-alignment": {}
  "atom-beautify":
    _analyticsUserId: ""
  "autocomplete-plus": {}
  "autocomplete-ruby":
    rsensePath: "/Users/benbalter/.rbenv/shims/rsense"
  autosave:
    enabled: true
  "code-links":
    displayMode: "always"
  core:
    disabledPackages: [
      "linter-r`ubocop"
      "rubocop-auto-correct"
      "linter-rubocop"
    ]
    excludeVcsIgnoredPaths: false
    telemetryConsent: "no"
  editor:
    backUpBeforeSaving: true
    fontFamily: "Inconsolata"
    fontSize: 19
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "d0e99223-9683-a67e-278c-73f62295b9ed"
  "file-icons":
    onChanges: true
  "find-and-replace": {}
  "fuzzy-finder": {}
  "git-diff": {}
  "line-ending-converter":
    showEolInStatusBar: false
  linter: {}
  "linter-alex": {}
  "linter-rubocop": {}
  "linter-ruby": {}
  "linter-shellcheck":
    enableNotice: true
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
    userParameters: "-x"
  "linter-ui-default": {}
  "linter-write-good": {}
  "markdown-preview":
    useGitHubStyle: true
  "markdown-table-formatter":
    markdownGrammarScopes: [
      "source.gfm"
      "text.plain.null-grammar"
    ]
  minimap:
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: false
      linterDecorationsZIndex: 0
  "one-dark-ui": {}
  "rubocop-auto-correct":
    autoRun: true
    rubocopCommandPath: "bundle exec rubocop"
  "spell-check": {}
  "status-bar": {}
  tabs:
    alwaysShowTabBar: false
    enableVcsColoring: true
  "theme-switcher":
    syntaxThemeOne: "one-dark"
    syntaxThemeTwo: "one-light"
  "tidy-markdown":
    ensureFirstHeaderIsH1: false
    runOnSave: false
  "travis-ci-status": {}
  "tree-view":
    autoReveal: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace:
    keepMarkdownLineBreakWhitespace: false
  wordcount: {}
