"*":
  editor:
    invisibles: {}
    backUpBeforeSaving: true
    fontFamily: "Inconsolata"
    fontSize: 19
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "05e28b42-e3fa-77bb-d312-beac2ff9e773"
  welcome:
    showOnStartup: false
  core:
    excludeVcsIgnoredPaths: false
  Zen:
    typewriter: true
  "atom-alignment": {}
  "code-links":
    displayMode: "always"
  "file-icons":
    onChanges: true
  "line-ending-converter":
    showEolInStatusBar: false
  linter:
    showErrorTabFile: false
    showErrorTabProject: false
    statusIconScope: "File"
  "linter-ruby": {}
  "linter-write-good": {}
  "markdown-table-formatter": {}
  "travis-ci-status": {}
  wordcount: {}
  "autocomplete-plus": {}
  autosave:
    enabled: true
  "find-and-replace": {}
  "fuzzy-finder": {}
  "git-diff": {}
  "markdown-preview":
    useGitHubStyle: true
  whitespace:
    keepMarkdownLineBreakWhitespace: false
  tabs:
    alwaysShowTabBar: false
    enableVcsColoring: true
  "status-bar": {}
  "spell-check": {}
